.navbar {
  background-color: #330065;
}

a {
  color: #330065;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FE0000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #BFBFBF;
  color: #000000;
}

#home-logo  {
  max-height: 200px;
}

.design-image {
    max-width: 300px;
}

.home-image {
    width: 100%;
}