/*
Last updated: 7/13/15
Author: Joseph Cramer
*/
/*.footer a,p{
    display: inline;
    padding: .5em 2em;
    text-align: center;
}*/

@media screen and (max-width:796px) {
    .wrapper{
        width:95%;
        margin:0 auto;
    }

    img{
        max-width:100%;
    }

    nav a{
        font-size:.5em;
    }

    nav li{
        padding:.25em;
    }

/*
    footer a,p{
        font-size:.25em;
    }
    
    footer li{
        padding:.1em;
    }
*/
}

/*For large screened devices*/
@media screen and (min-width:796px){
    .wrapper{
        width:70%;
        max-width:1200px;
        margin:5% auto;
    }

    nav a{
        font-size:2em;
    }

    nav li{
        padding:1.5em;
    }

/*
    footer p,a{
        font-size:1em;
    }

    footer li{
        padding:.5em;
    }
*/
}

/*All Pages*/
body{
    font-family:"arial black",Helvetica,sans-serif;
}

table{
    width:auto;
}

#contact{
    border:double;
    margin:50px;
    width:auto;
}

td.contact{
    border:double;
    padding:5px;
    font-size:2em;
}

nav{
    width:100%;
}

nav ul{
    list-style-type:none;
    width:100%;
}

nav li{
    background-color:#704C94;
    display:inline;
    margin:0;
}

nav a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:#FE0000;
}

/*
footer{
    width:100%;
}

footer ul{
    width:100%;
}

footer li{
    background-color:#704C94;
    display:inline;
    list-style-type:none;
    color:white;
}

footer p{
    display:inline;
    color:white;
}

footer a{
    color:white;
}
*/

h1,h2,h3,h4,h5,h6{
    color:#704C94;
}

.topo{
    border:1px solid black;
    width:100%;
}

/*Design Page*/
#design ul{
    list-style-type:none;
}

#design img{
    width:100%;
}

/*Presentation Page*/
#dbex{
    width:auto;
    border:dashed thin;
}

#dbex th,td{
    padding:5px;
    border:dashed thin;
    font-family:courier;
}
/*
#container{
    float:left;
    display:inline-block;
    top:20%;
    height:70%;
    width:auto;
    max-width:none;
}

#container li{

    width:30%;
    display:inline;
}

#container img{
    height:100%;
}
*/
